In [1]:
from data_clean import loading_data
from model_test import delete_nulls, baseline, linear_regression, extra_trees_regressor, random_forest_regressor, decision_trees_regressor, xgb_regressor
import seaborn as sns
from datetime import datetime
import pandas as pd

In [2]:
train = loading_data("train", "store")
test = loading_data("test", "store")

/Users/albert/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
train.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Week,WeekOfMonth
0,2013-01-01,1115,2.0,0.0,0.0,0.0,0.0,a,1.0,d,...,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",1,1,1
1,2013-01-01,379,2.0,0.0,0.0,0.0,0.0,a,1.0,d,...,6630.0,NaN,NaN,0,NaN,NaN,NaN,1,1,1
2,2013-01-01,378,2.0,0.0,0.0,0.0,0.0,a,1.0,a,...,2140.0,8.0,2012.0,0,NaN,NaN,NaN,1,1,1
3,2013-01-01,377,2.0,0.0,0.0,0.0,0.0,a,1.0,a,...,100.0,6.0,2010.0,1,18.0,2010.0,"Feb,May,Aug,Nov",1,1,1
4,2013-01-01,376,2.0,0.0,0.0,0.0,0.0,a,1.0,a,...,160.0,8.0,2012.0,0,NaN,NaN,NaN,1,1,1

In [4]:
test.head()

,Date,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,...,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,Month,Week,WeekOfMonth
0,2014-08-01,371,5,7195,550,1,1,0,1,d,...,1970.0,7.0,2009.0,1,45.0,2014.0,"Feb,May,Aug,Nov",8,31,3
1,2014-08-01,372,5,9525,815,1,1,0,1,d,...,4880.0,8.0,2010.0,1,18.0,2014.0,"Jan,Apr,Jul,Oct",8,31,3
2,2014-08-01,373,5,5621,357,1,1,0,1,d,...,11120.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct",8,31,3
3,2014-08-01,380,5,16933,1512,1,1,0,1,a,...,2240.0,5.0,2013.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",8,31,3
4,2014-08-01,374,5,7828,878,1,1,0,1,a,...,1150.0,9.0,2007.0,0,NaN,NaN,NaN,8,31,3

In [5]:
baseline(train, test)

the RMSPE of the baseline model (mean) is 64.684%

In [6]:
xgb_regressor(train, test)

the RMSPE of the linear regression model is 31.7564%

the RMSPE of the extra trees model is 34.6303%

the RMSPE of the random forest model is 31.0473%

In [3]:
xgb_regressor(train, test)

/Users/albert/anaconda3/lib/python3.8/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/Users/albert/anaconda3/lib/python3.8/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[14:40:43] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
the RMSPE of the boosted trees model is 27.1264%